<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bsoft.BtracMobile" version="1.0.13" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BTrac</name>
    <description>
        Sistema de rastreamento de veículos mobile.
    </description>
    <author email="contato@btrac.com.br" href="http://www.btrac.com.br">
        Bsoft
    </author>
    <content src="index.html" />
    <icon src="icons/icon.png" />

    <access origin="*" />
	
	<preference name="permissions" value="none"/>
	
	<feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
</widget>
