<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bsoft.BtracMobile" version="1.1.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Btrac</name>
    <description>
        Sistema de rastreamento de veículos mobile.
    </description>
    <author email="contato@btrac.com.br" href="http://www.btrac.com.br">
        Bsoft
    </author>
	
	<icon src="icons/icon.png" />
	<platform name="android">
        <icon src="icons/icon.png" density="ldpi" />
    </platform>
	<platform name="ios">
        <icon gap:platform="ios" height="57" src="icons/ios/Icon.png" width="57" />
		<icon gap:platform="ios" height="72" src="icons/ios/Icon-72.png" width="72" />
		<icon gap:platform="ios" height="76" src="icons/ios/Icon-76.png" width="76" />
		<icon gap:platform="ios" height="120" src="icons/ios/Icon-120.png" width="120" />
		<icon gap:platform="ios" height="152" src="icons/ios/Icon-76@2x.png" width="152" />
    </platform>
	
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="ShowSplashScreen" value="false" />
</widget>
