<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bsoft.BtracMobile" version="1.1.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Btrac</name>
    <description>
        Sistema de rastreamento de veículos mobile.
    </description>
    <author email="contato@btrac.com.br" href="http://www.btrac.com.br">
        Bsoft
    </author>
	
	<icon src="icons/icon.png" />
	
    <preference name="FadeSplashScreen" value="false" />
    <preference name="SplashShowOnlyFirstTime" value="true" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
	
	<platform name="android">
        <icon src="icons/icon.png" density="ldpi" />
		<allow-intent href="market:*" />
        <splash density="ldpi"  src="assets/splashscreen/android/splash_ldpi.png" />
        <splash density="mdpi"  src="assets/splashscreen/android/splash_mdpi.png" />
		<splash density="hdpi"  src="assets/splashscreen/android/splash_hdpi.png" />
        <splash density="xhdpi" src="assets/splashscreen/android/splash_xhdpi.png" />
    </platform>
	<platform name="ios">
        <icon gap:platform="ios" height="57" src="icons/ios/Icon.png" width="57" />
		<icon gap:platform="ios" height="72" src="icons/ios/Icon-72.png" width="72" />
		<icon gap:platform="ios" height="76" src="icons/ios/Icon-76.png" width="76" />
		<icon gap:platform="ios" height="120" src="icons/ios/Icon-120.png" width="120" />
		<icon gap:platform="ios" height="152" src="icons/ios/Icon-76@2x.png" width="152" />
		<splash src="assets/splashscreen/ios/splash320.png" width="320" height="480" />
        <splash src="assets/splashscreen/ios/splash640.png" width="640" height="960" />
        <splash src="assets/splashscreen/ios/splash640_1136.png" width="640" height="1136"/>
        <splash src="assets/splashscreen/ios/splash750.png" width="750" height="1334" />
		<splash src="assets/splashscreen/ios/splash768.png" width="768" height="1024" />
		<splash src="assets/splashscreen/ios/screen1242.png" width="1242" height="2208" />
        <splash src="assets/splashscreen/ios/splash1536.png" width="1536" height="2048" />
        
		<allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    
    
</widget>
